





.container-fluid {
  height: 100%;
  padding: 0px !important;

}
.btn-danger {
  width: 100%;
  height: 50px;
}
.card-parent {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  border-radius: 10px;
  background-color: white;
  .content_card {
    box-shadow: unset !important;
    border-radius: 0 !important;
    border: 0 !important;
  }
}
.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  img.card-img-top {
    width: 140px;
    height: 140px;
  }
}

.contentmiddle h2 {
  font-family: Rubik, sans-serif;
  padding: 0;
  font-size: 30px;
  line-height: 1.8;
  font-weight: 400;
  color: #000;
  text-align: center;

}

.contentmiddle p {
  font-family: Rubik, sans-serif;
  padding: 0;
  font-size: 16px;
  line-height: 1.8;
  color: rgb(170, 167, 167);
  text-align: center;


}

.content_card h5 {
  font-family: Rubik, sans-serif;
  padding: 0;
  font-size: 30px;
  line-height: 1.8;
  font-weight: 400;
  color: #000;
  text-align: center;


}

.content_card p {
  font-family: Rubik, sans-serif;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
  color: rgb(120, 117, 117);
}


.titre-ligne {
  border-bottom: 2px solid rgb(178, 26, 26);
  /* Bordure de 2px d'épaisseur de couleur noire (#333) */
  display: inline-block;
  /* Pour que la bordure s'adapte à la largeur du texte */
  padding-bottom: 5px;
  /* Espacement entre le texte et la bordure */
  margin-bottom: 10px;
  /* Espacement entre les titres */
}

/* navbar */

/* Extra */
$primary: #fff;
$secondary: #ccc;
$ternary: #272727;
$dark: #444444;

body {
  background: $secondary;
  color: $ternary;
  font-size: 14px;
  margin: 0;

}

.logo {
  max-width: 200px;
}

.navbar {
  align-items: center;
  background: $primary;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 10px 50px;
}
.sectionTitle {
  text-align: center;
}


/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;

  @media screen and (max-width: 768px) {
    display: inline-block;
  }

  &-line {
    background: $ternary;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
    width: 100%;

    .hamburger:hover & {
      background: #777;
    }

    &-top {
      top: 3px;
    }

    .menu-active &-top {
      top: 50%;
      transform: rotate(45deg) translatey(-50%);
    }

    &-middle {
      top: 50%;
      transform: translatey(-50%);
    }

    .menu-active &-middle {
      left: 50%;
      opacity: 0;
      width: 0;
    }

    &-bottom {
      bottom: 3px;
    }

    .menu-active &-bottom {
      bottom: 50%;
      transform: rotate(-45deg) translatey(50%);
    }
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .25s ease-in;

  @media screen and (max-width: 768px) {
    background: $primary;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;

    .menu-active & {
      transform: translatey(0%);
      opacity: 1;
    }
  }

  .menu-item a {
    color: $dark;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #b20101;
      text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
      margin: 8px;
    }
  }


}

.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: $primary;
  padding: 5px 5px;
  list-style: none;
  width: 230px;

  @media screen and (max-width: 768px) {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.20);
    box-sizing: border-box;
  }
}

.nav__link {
  &:hover+.sub-nav {
    display: block;

  }
}

.sub-nav {
  &:hover {
    display: block;
  }
}







/* footer */


ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #000000;
  position: relative;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 2rem;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: rgb(178, 26, 26);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}


.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #b20101;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #b20101;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #b20101;
  padding: 13px 20px;
  border: 1px solid #b20101;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #b20101;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}














.card-img-top {
  height: 180px;
}





.card .body .col-sm-12 {
  margin-bottom: -1rem;
}

.example-form {
  max-width: unset;
}

.text-picture-container {
  position: absolute;
  top: 24%;
  left: 15%;
  max-width: 400px;

  h2 {
    color: #a91916;
    font-weight: bold;
    font-family: Poppins;
    margin-bottom: 0px;
  }

  span {
    overflow-wrap: break-word;
    display: inline-block;
    color: #a91916;
    margin-bottom: 8px;
    font-family: Manrope, sans-serif;
    font-weight: bold;
    line-height: 1.8em;
  }

  h3 {
    font-weight: bold;
    color: #a91916;
    font-family: Manrope, sans-serif;

  }
}

.isMobile {
  h3 {
    font-family: Manrope, ui-sans-serif;
  }
}

.search-icon {
  color: #a91916;

  svg {
    fill: #a91916;
  }
}

.auth-form-btn {
  background-color: #a91916;
}

.auth-form-btn.mat-button-disabled {
  background-color: #a91916;
  color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #a91916
}

.header {
  width: 100%;
  height: 70%;
  position: relative;
  background-size: cover;
  margin-bottom: -5rem;
}

.spinner-img {
  position: absolute;
  top: 27%;
  left: calc(50% - 40px);
  width: 100px;
  height: 100px;
}

.shadow {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 2;
}

.subSection.description p {
  font-size: 1.2rem;
  padding-inline: 41px;
}

.navigation {
  z-index: 9;
  position: fixed;
  width: 100%;
}

.slideShow {
  width: calc(100% + 30px);
  z-index: 1;
  margin-right: -15px;
  margin-left: -15px;
  background-color: #01010c;
  opacity: 0.6;
}

.titles {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 11px black, 1px 2px 3px #07071b, 0px 0px 5px #01010c;
}

.subTitles {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding-top: 2rem;
  text-shadow: 1px 1px 11px black, 1px 2px 3px #07071b, 0px 0px 5px #01010c;
}

.searchClassContainer {
  position: relative;
}

.searchClass {
 
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.searchClass>.row {
  width: 100%;
}

.titles h3 {
  position: absolute;
  text-align: center;
}

.titles h1 {
  position: absolute;
  text-align: center;
}

.subTitles h3 {
  position: absolute;
  text-align: center;
}

.categorySection {
  justify-content: center;
  background-color: #ffffff;
  overflow: hidden;
  padding-bottom: 2rem;

  .categoryClass {
    padding: 27px;
  }
}

.sectionTitle h1 {
  color: #a91916;
  text-shadow: 0px 0px 1px black, 0 0 0px black, 0 0 1px black;
}

.categorySection img {
  text-align: center;
}

.categorySection .subSection img {
  margin-bottom: 0rem !important;
}

.categorySection img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.mat-typography h4 {
  font-weight: 500;
}

.categorySection img:active {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ourPlusSection {
  padding-bottom: 0rem;
  padding-top: 3rem;
  padding-right: 5rem;
  padding-left: 5rem;
  background-color: #F9F9F9;
  overflow: hidden;
}

.ourPlusSection .sectionTitle {
  margin-bottom: 2rem;
}

.ourStatic {
  padding-top: 60px;
  background-color: #F9F9F9;
  overflow: hidden;
  padding-bottom: 60px;

  .dash-widget {
    color: #a91916;
  }
}

.sectionTitle h1 {
  display: flex;
  justify-content: center;
}

.sectionDescription {
  padding-bottom: 70px;
  padding-right: 50px;
  padding-left: 50px;
}

.sectionDescription p {
  text-align: center;
}

.categorySection .subSection {
  text-align: center;
  z-index: 99999;
  display: flex;
  justify-content: center;

  .card {
    height: 13vw;
    width: 13vw;

    h4 {
      font-size: 22px;
      font-weight: 500;
    }

    .hr-container {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    hr {
      margin-bottom: 0;
      height: 9px;
      border-radius: 9px;
      width: calc(100% - 80px);
    }
  }
}

p {
  color: #3c3c3c;
  font-size: 1rem;
}

.subSection.description img {
  width: 300px;
  height: 300px;
}

.plusContent {
  .subSection {
    text-align: center;
  }
}

.plusContent img {
  width: 120px;
}

.subSection img {
  margin-bottom: 2rem;
}

.WhySection {
  padding-bottom: 3rem;
  padding-top: 1rem;
  background-color: #F9F9F9;
  overflow: hidden;

  .sectionTitle {
    padding-bottom: 2rem;
  }
}

.plusContent H2 {
  margin-bottom: 2rem;
  color: #b20101;
}

.whyContent {
  padding-right: 100px;
  padding-left: 50px;
}

.whyContent h2 {
  margin-bottom: 2rem;
  color: #b20101;
}

.whyContent .left,
.whyContent .right {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}



.companiesSection {
  padding-top: 60px;
  background-color: #F9F9F9;
  overflow: hidden;

}

.companiesContent {
  align-items: center;

  h3 {
    font-weight: 500;
  }
}

.companiesContent h1 {
  display: inline-block;
  border-bottom: 2px solid #a91916;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #b20101;
}

.companiesContent p {
  font-size: 1rem;
}

.companiesContent .smallContent {
  padding: 50px 30px 50px 30px;
  background-color: rgba(239, 249, 251, 0.8);
}

.smallContent div {
  position: relative;
}

.iconContainer {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #673ab7;
}

.iconContainer img {
  width: 50px;
}

.iconContainer .mat-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: white;

}

.smallText {
  font-size: 13px;
}

.contactSection {
  overflow: hidden;
}

.pageCover {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -999999999999;

}

.pictureText-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.pictureText-container div {
  display: inline-block;
}


.dash-widget {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.circle-bar {
  margin-inline-end: 15px;
}

.dct-border-rht {
  border-inline-end: 1px solid rgb(0 0 0 / 12%);
}

.dash-widget h6 {
  font-size: 16px;
  font-weight: 400;
}

.dash-widget h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.dash-widget p {
  color: #757575;
  font-size: 14px;
  margin-bottom: 0;
}

.circle-bar>div {
  display: inline-block;
  position: relative;
  text-align: center;
}

.circle-bar>div img {
  left: 0;
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
  margin: 0 auto;
  transform: translateY(-50%);
}

.circle-bar>div canvas {
  width: 90px !important;
  height: 90px !important;
}

.dash-card .row {
  margin-left: -10px;
  margin-right: -10px;
}

.dash-card .row>div {
  padding-left: 10px;
  padding-right: 10px;
}

/*  -------------------- footer ----------------------------*/

.footer {
  background-color: rgba(239, 249, 251, 0.8);
  font-family: "Poppins", sans-serif !important;
}

.footer .footer-container {
  padding-left: 30px;
  padding-right: 30px;
}

.footer .footer-top {
  padding: 40px 0;
}

.footer-title {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.footer .footer-widget.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.footer .footer-widget.footer-menu ul.doctors-container {
  margin-inline-start: 1.5rem;
  margin-top: 0.5rem;
}

.footer .footer-widget.footer-menu ul.doctors-container h3 {
  display: inline;
  font-size: 14px;
}

.footer .footer-widget .footer-logo {
  margin-bottom: 30px;
}

.footer .footer-widget .footer-about-content p {
  color: black;
}

.footer .footer-widget .footer-about-content img {
  width: 100%;
  margin-top: -50px;
  margin-bottom: -50px;
}

.footer .footer-widget .footer-about-content.row {
  margin-bottom: 30px !important;
}

.footer .footer-widget .footer-about-content a.ps-container {
  padding-inline-end: 30px;
  padding-inline-start: 0;
}

.footer .footer-widget .footer-about-content p:last-child {
  margin-bottom: 0;
}

.footer .footer-menu ul li {
  margin-bottom: 10px;
  position: relative;
}

.footer .footer-menu ul li:last-child {
  margin-bottom: 0;
}

.footer .footer-menu ul li a {
  color: black;
  font-size: 15px;
  padding-inline-start: 20px;
  position: relative;
  transition: all 0.4s ease 0s;
}

.footer .footer-widget.footer-menu ul li a:hover {
  color: black;
  letter-spacing: 0.5px;
  padding-left: 30px;
}

.footer .footer-menu ul li a::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 0;
  margin-inline-end: 5px;
  position: absolute;
  top: 0;
}

.footer .footer-menu ul li a.active::before {
  content: "\f078" !important;
}

.footer p {
  color: black !important;
}

.footer a.collapseContainer {
  cursor: pointer;
}

.footer-contact-info {
  color: black;
  font-size: 15px;
}

.footer-contact-info .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contact-info .footer-address span {
  margin-inline-end: 15px;
}

.footer-contact-info .footer-address span i.fa-map-marker-alt {
  font-size: 20px;
}

.footer-contact-info p i {
  margin-inline-end: 15px;
}

.footer-contact-info p i:before {
  width: 14px;
}

.footer .footer-bottom .copyright {
  border-top: 1px solid #b20101;
  padding: 30px 0;
}

.footer .footer-bottom .copyright-text p {
  color: black;
  font-size: 15px;
}

.footer .footer-bottom .copyright-text p a {
  color: #ee344e;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer .footer-bottom .copyright-text p a:hover {
  color: black;
}

.footer .footer-bottom .copyright-text p.title {
  font-weight: 400;
  margin: 10px 0 0;
}

.footer .social-icon ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .social-icon ul li {
  margin-inline-end: 15px;
}

.footer .social-icon ul li:last-child {
  margin-right: 0;
}

.footer .social-icon ul li a {
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px !important;
  border: 0 !important;
  height: unset !important;
  width: unset !important;
  transition: all 0.4s ease 0s;
}

.footer .social-icon ul li a:hover {
  color: #ee344e;
}

.policy-menu {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: right;
}

.policy-menu li {
  display: inline-block;
  margin-inline-end: 15px;
}

.policy-menu li:last-child {
  margin-right: 0;
}

.policy-menu li a {
  color: black;
}

.policy-menu li a:hover,
.policy-menu li a:focus {
  color: #ee344e;
}

.policy-menu li::after {
  color: black;
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
}

.policy-menu li:last-child::after {
  content: "";
}


/*  ------------------- media queries -------------------------- */

@media (max-width: 453px) {

  .sectionDescription {
    padding-right: 0px;
    padding-left: 0px;

  }
}

@media (max-width: 760px) {


  .whyContent {
    padding-right: 30px;
    padding-left: 30px;

    h1 {
      font-size: 29px;
    }
  }

  .whyContent .left {
    border-inline-end: 0px;
  }

  .footer .footer-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .smallContent .row .col-md-4 {
    padding-inline: 3em !important;
  }

  .dct-border-rht {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-inline-end: 0;
    margin-bottom: 20px;
    padding-bottom: 15px;
    justify-content: start;
  }

  .appointment-counter {
    border-right: 0;
    margin-bottom: 20px;
    padding-bottom: 15px;
    justify-content: start;
  }
}

@media (max-width: 720px) {

  .pictureText-text {

    position: absolute;
    top: 0px;
    z-index: 5;
    position: absolute;
    top: 0px;
    z-index: 5;
    text-align: center;
    padding-top: 80px;

  }

  .pictureText-shadow {

    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.7;
    z-index: 2;

  }

  .responsive-center-text {

    text-align: center;
  }

  .responsive-center-div {

    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

}

@media (max-width: 657px) {
  .header {
    background-color: #F9F9F9;
  }

  .subSection.description p {
    padding-inline: 10px;
  }

  .text-picture-container {

    background-color: #E7F1FE;
    opacity: 0.8;
    position: relative;
    top: 0;
    left: unset;
    max-width: unset;
    margin-left: 16px;
    margin-right: 16px;
    padding-block: 3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;

    h3 {

      font-family: Poppins;
      display: inline;
      padding-inline-start: 2px;
      line-height: 1.6em;
      font-size: 15px;
      text-align: start;
      margin-bottom: 0;
    }

    span {
      text-align: center;
    }
  }

  .searchClass {
    position: unset;
  }

  .searchClassContainer {
    height: 51%;
  }

  .slideShow {
    img {
      position: absolute;
      height: 467px;
    }
  }
}

@media (max-width: 351px) {
  .header {
    margin-bottom: 0;
    height: 516px;

    .text-picture-container h3 {
      font-size: 12px;
    }
  }

  .searchClassContainer {
    height: 24%;
    margin-right: -15px;
    margin-left: -15px;
  }

  .slideShow {
    height: 54%;
  }

  .searchClass {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .card {
    margin-bottom: 0;
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 1.7em;
  }

  .sectionTitle {
    padding-bottom: 2rem;
    padding-top: 0.1rem;
  }

  .categorySection img {
    border-radius: 0.5rem;
  }

  .categorySection {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    .subSection .card {
      width: 25vw;
      height: 25vw;
      margin-bottom: 24px;

      .categoryClass {
        padding-top: 7px;
        padding-bottom: 3px;
        padding-inline: 17px;
      }

      h4 {
        font-size: 7.5px;
      }

      hr {
        height: 3.5px;
        width: calc(100% - 12vw);
      }
    }

  }

  .subSection.description img {
    width: 300px;
    height: 300px;
  }

  .subSection h4 {
    font-size: smaller;
  }

  .borderClass {
    border-bottom: 0.2px solid #d9d9d9;
  }

  .mat-option {
    font-size: 0.85rem;
  }

  .subTitles {
    top: 20%;
  }

  .titles {
    top: 75%;
  }

  .whyContent .firstSectionClass {
    padding-top: 0px !important;
  }

  .footer-title {
    font-size: 1.125rem;
  }

  .footer-widget {
    margin-bottom: 30px;
  }

  .row.row-grid>div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .smallContent .row .col-md-4 {
    padding-inline: 2em !important;
  }
}

@media (min-width: 351px) and (max-width: 454px) {
  .header {
    margin-bottom: 0;
    height: 550px;
  }

  .slideShow {
    height: 57%;
  }

  .searchClassContainer {
    height: 24%;
    margin-left: -15px;
    margin-right: -15px;

    .text-picture-container h3 {
      font-size: 12px;
    }
  }

  .searchClass {
    bottom: 0;
    margin-left: auto !important;
    margin-right: auto;
    width: 100%;
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 1.7rem;
  }

  .categorySection .sectionTitle {
    padding-bottom: 1rem;
    padding-top: .9rem;
  }

  .categorySection img {
    border-radius: 0.5rem;
  }

  .categorySection {
    padding-right: 0.8rem;
    padding-left: 0.8rem;

    .subSection .card {
      width: 26vw;
      height: 26vw;

      .categoryClass {
        padding-top: 12px;
        padding-bottom: 5px;
        padding-inline: 23px;

        img {
          width: 95%;
        }
      }

      h4 {
        font-size: 10.5px;
      }

      hr {
        height: 5px;
        width: calc(100% - 12vw);
      }
    }
  }

  .whyContent .firstSectionClass {
    padding-top: 0px !important;
  }

  .subSection.description img {
    width: 300px;
    height: 300px;
  }

  .subSection h4 {
    font-size: smaller;
  }

  .borderClass {
    border-bottom: 0.2px solid #d9d9d9;
  }

  .mat-option {
    font-size: 0.9rem;
  }

  .subTitles {
    top: 22%;
  }

  .titles h1 {
    top: 85%;
    font-size: medium;
  }

  .footer-title {
    font-size: 1.125rem;
  }

  .footer-widget {
    margin-bottom: 30px;
  }

  .row.row-grid>div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 454px) and (max-width: 556px) {
  .header {
    margin-bottom: 0;
    height: 560px;
  }

  .searchClassContainer {
    height: 30%;
    margin-right: -15px;
    margin-left: -15px;
  }

  .slideShow {
    height: 62%;
  }

  .searchClass {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 1.7rem;
  }

  .categorySection .sectionTitle {
    padding-bottom: 2.5rem;
    padding-top: 1rem;
  }

  .categorySection img {
    border-radius: 0.5rem;
  }

  .whyContent .firstSectionClass {
    padding-top: 0px !important;
  }

  .categorySection {
    padding-right: 1rem;
    padding-left: 1rem;

    .subSection .card {
      width: 28vw;
      height: 28vw;

      .categoryClass {
        padding-block: 8px;
      }

      h4 {
        font-size: 12px;
      }

      hr {
        height: 5px;
        width: calc(100% - 12vw);
      }
    }

  }

  .subSection.description img {
    width: 300px;
    height: 300px;
  }

  .subSection h4 {
    font-size: smaller;
  }

  .borderClass {
    border-bottom: 0.2px solid #d9d9d9;
  }

  .mat-option {
    font-size: 1rem;
  }

  .subTitles {
    top: 22%;
  }

  .titles h1 {
    top: 80%;
    font-size: medium;
  }

  .footer-widget {
    margin-bottom: 30px;
  }

  .footer-title {
    font-size: 1.125rem;
  }

  .row.row-grid>div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 556px) and (max-width: 657px) {
  .header {
    margin-bottom: 0;
    height: 600px;
  }

  .searchClassContainer {
    height: 47%;
    margin-left: -15px;
    margin-right: -15px;
  }

  .slideShow {
    height: 58%;
  }


  .searchClass {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 1.7rem;
  }

  .categorySection {
    .sectionTitle {
      padding-bottom: 2.5rem;
      padding-top: 1rem;
    }

    .subSection .card {
      width: 22vw;
      height: 22vw;

      .categoryClass {
        padding-bottom: 20px;

        img {
          width: 65%;
        }
      }

      h4 {
        font-size: 15px;
      }

      hr {
        height: 5px;
        width: calc(100% - 12vw);
      }
    }
  }

  .categorySection img {
    border-radius: 0.6rem;
  }

  .subSection.description img {
    width: 300px;
    height: 300px;
  }

  .whyContent .firstSectionClass {
    padding-top: 0px !important;
  }

  .categorySection {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .borderClass {
    border-bottom: 0.2px solid #d9d9d9;
  }

  .mat-option {
    font-size: 1rem;
  }

  .subTitles {
    top: 25%;
  }

  .titles h1 {
    top: 35%;
  }

  .footer-widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 657px) and (max-width: 768px) {
  .header {
    margin-bottom: 0;
    height: 550px;
  }

  .searchClassContainer {
    height: 24%;
    margin-right: -15px;
    margin-left: -15px;
  }

  .slideShow {
    height: 82%;
  }

  .searchClass {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 1.7rem;
  }

  .categorySection .sectionTitle {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .categorySection img {
    border-radius: 0.7rem;
  }

  .categorySection {
    padding-right: 2rem;
    padding-left: 2rem;

    .subSection .card {
      width: 22vw;
      height: 22vw;

      .categoryClass {
        padding-bottom: 20px;

        img {
          width: 65%;
        }
      }

      h4 {
        font-size: 15px;
      }

      hr {
        height: 5px;
        width: calc(100% - 12vw);
      }
    }
  }

  .borderClass {
    border-bottom: 0.2px solid #d9d9d9;
  }

  .mat-option {
    font-size: 1.05rem;
  }

  .subTitles {
    top: 30%;
  }

  .titles h1 {
    top: 50%;
  }

  .footer-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-title {
    font-size: 1.125rem;
  }

  .footer-widget {
    margin-bottom: 30px;
  }

  .row.row-grid>div {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media (min-width: 768px) and (max-width: 950px) {
  .slideShow {
    height: 100%;
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.3rem;
  }

  .categorySection .sectionTitle {
    padding-bottom: 5rem;
    padding-top: 0.1rem;
  }

  .categorySection img {
    border-radius: 0.8rem;
  }

  .categorySection {
    padding-right: 3.5rem;
    padding-left: 3.5rem;

    .subSection .card {
      width: 20vw;
      height: 20vw;

      .categoryClass {
        padding-bottom: 20px;

        img {
          width: 70%
        }
      }

      h4 {
        font-size: 15px;
      }

      hr {
        height: 5px;
        width: calc(100% - 8vw);
      }
    }
  }

  .searchClass {
    margin-left: 0%;
    width: 98%;
    bottom: 20%
  }

  .mat-flat-button {
    margin-top: 0.3rem;
  }

  .subTitles {
    top: 35%;
  }

  .titles h1 {
    top: 67%;
  }

  .row.row-grid>div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer-widget {
    margin-bottom: 30px;
  }

  .footer .footer-top {
    padding-bottom: 10px;
  }
}

@media (min-width: 950px) and (max-width: 1100px) {
  .searchClassContainer {
    position: relative;
  }

  .slideShow {
    height: 100%;
  }

  .categorySection {
    padding-right: 4rem;
    padding-left: 4rem;

    .subSection .card {
      width: 18vw;
      height: 18vw;

      .categoryClass {
        padding-block: 30px;

        img {
          width: 70%;
        }
      }

      h4 {
        font-size: 15px;
      }

      hr {
        height: 5px;
        margin-inline: 4vw;
        width: calc(100% - 8vw);
      }
    }
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.3rem;
  }

  .categorySection .sectionTitle {
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  .categorySection img {
    border-radius: 1rem;
  }

  .searchClass {
    bottom: 20%;
    margin-inline-start: 3%;
    width: 90%;
  }

  .mat-flat-button {
    margin-top: 0.3rem;
  }

  .subTitles {
    top: 45%;
  }

  .titles h1 {
    top: 85%;
  }
}

@media (min-width: 1100px) {
  .slideShow {
    height: 100%;
  }

  .categorySection {
    padding-right: 8rem;
    padding-left: 8rem;

    @media (max-width: 1660px) {

      .subSection .card {
        width: 15vw;
        height: 15vw;

        .categoryClass {
          padding-top: 35px;
          padding-bottom: 28px;

          img {
            width: 60%;
          }
        }
      }
    }
  }

  .card .body {
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.3rem;
  }

  .categorySection .sectionTitle {
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  .categorySection img {
    border-radius: 1rem;
    max-height: 400px;
    max-width: 450px;
  }

  .searchClass {
    margin-left: 5%;
    width: 90%;
    bottom: 41%;
  }

  .mat-flat-button {
    margin-top: 0.3rem;
  }

  .subTitles {
    top: 50%;
  }

  .titles h1 {
    top: 90%;
  }

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }


  ul {
    margin: 0px;
    padding: 0px;
  }

  .footer-section {
    background: #151414;
    position: relative;
  }

  .footer-cta {
    border-bottom: 1px solid #373636;
  }

  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }

  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }

  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  .cta-text span {
    color: #757575;
    font-size: 15px;
  }

  .footer-content {
    position: relative;
    z-index: 2;
  }

  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-logo img {
    max-width: 200px;
  }

  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }

  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }

  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }

  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }


  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }

  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #b20101;
  }

  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }

  .footer-widget ul li a:hover {
    color: #b20101;
  }

  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }

  .subscribe-form {
    position: relative;
    overflow: hidden;
  }

  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }

  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #b20101;
    padding: 13px 20px;
    border: 1px solid #b20101;
    top: 0;
  }

  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }

  .copyright-area {
    background: #202020;
    padding: 25px 0;
  }

  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }

  .copyright-text p a {
    color: #b20101;
  }

  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }

  .footer-menu li:hover a {
    color: #b20101;
  }

  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
}