<nav  class="navbar" [class.active]="isNavActive">
    <div class="logo"><img class="img-fluid" src="/assets/photos/logo.png" alt="LOGO"></div>
    <div class="bars" (click)="toggleNav()">
      <i class="fa fa-bars" style="margin-right: 20px;"></i>
    </div>
    <ul class="nav-links"[ngClass]="{'active': isNavActive}">
      <li class="nav-link"><a href="#">Home</a></li>
      <li class="nav-link"><a href="#footer">À Propos de Nous</a></li>
      
    </ul>
  </nav>
<div class="body">
  <div class="container my-5">
    <div class="row details-snippet1">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-2 mini-preview">
                    <img class="img-fluid" src="" alt="Preview">
                    <img class="img-fluid" src="" alt="Preview">
                    <img class="img-fluid" src="" alt="Preview">
                    <img class="img-fluid" src="" alt="Preview">
                </div>
                <div class="col-md-10">
                    <div class="product-image">
                        <img class="img-fluid" src="" alt="Main Image">
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="category"><span class="theme-text">Modéle:</span> </div>
            <div class="category"><span class="theme-text">Marque:</span></div>
            <div class="category"><span class="theme-text">Transmission:</span></div>
            <div class="category"><span class="theme-text">Energie:</span></div>
            <div class="category"><span class="theme-text">Description</span></div>
            <div class="select-colors d-flex">
                <div class="color red"></div>
                <div class="color silver"></div>
                <div class="color black"></div>
                <div class="color white"></div>
               
            </div>
            </div>

          <!-- TO REMOVE COLORS -->
         
    </div>


         
</div>
  

   



 



